@page "/"

@using JobScraper.Client.DTOs
@using JobScraper.Client.Services
@using JobScraper.Client.Components.JobListings
@inject JobListingsService JobListingService


<PageTitle>Devjobs: Search</PageTitle>

<div class="container">
    <h1>Devjobs.dk: Din lette adgang til udviklerstillinger i Danmark</h1>

    @if (_jobListings == null)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else if (!_jobListings.Any())
    {
        <div >No job listings found.</div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var jobListing in _jobListings)
            {
                <div class="col">
                    <JobListingCard JobListing="@jobListing"/>
                </div>
            }
        </div>
    }
</div>

Welcome to your new app.

@code
{
    private List<JobListingDto> _jobListings = [];

    protected override async Task OnInitializedAsync()
    {
        _jobListings = await JobListingService.GetJobListings();
    }
}
